Host lnx235.lns.cornell.edu
    user xs32
Host lnx235
    user xs32

Host lxplus*.cern.ch
     GSSAPIAuthentication yes
     GSSAPIDelegateCredentials yes
     #GSSAPITrustDns yes
     Protocol 2
     ForwardX11 no
     ServerAliveInterval 120	

Host svn.cern.ch
   GSSAPIAuthentication yes
   GSSAPIDelegateCredentials yes
   #GSSAPITrustDns yes
   Protocol 2
   ForwardX11 no

Host *.fnal.gov
  GSSAPIAuthentication yes
  GSSAPIDelegateCredentials yes


Host lxslc*.ihep.ac.cn
     GSSAPIAuthentication yes
     GSSAPIDelegateCredentials yes
     #GSSAPITrustDns yes
     Protocol 2
     ForwardX11 no
     ServerAliveInterval 120

Host cepc*.ihep.ac.cn
     ForwardAgent yes
     ForwardX11 yes


Host github.com                                                             
     HostName github.com
     PreferredAuthentications publickey
     IdentityFile ~/.ssh/id_rsa
  
Host gitlab.cern.ch
     HostName gitlab.cern.ch
     IdentityFile ~/.ssh/id_rsa.gitlab
     User xin.shi


XAuthLocation /opt/X11/bin/xauth
