Host lxplus.cern.ch
    HostName lxplus.cern.ch
    ForwardX11Trusted yes
    User xshi

Host lnx235.lns.cornell.edu
    User xs32
Host lnx235
    User xs32

Host lxplus*.cern.ch
     GSSAPIAuthentication yes
     GSSAPIDelegateCredentials yes
     #GSSAPITrustDns yes
     Protocol 2
     ForwardX11 no
     ServerAliveInterval 120

Host lxslc*.ihep.ac.cn
     GSSAPIAuthentication yes
     GSSAPIDelegateCredentials yes
     #GSSAPITrustDns yes
     Protocol 2
     ForwardX11 no
     ServerAliveInterval 120
     #RemoteForward 52699 127.0.0.1:52698

Host cepc*.ihep.ac.cn
     ForwardAgent yes
     ForwardX11 yes
     XAuthLocation /opt/X11/bin/xauth
     ForwardX11Trusted yes
     RemoteForward 52699 127.0.0.1:52698


Host github.com
     HostName github.com
     PreferredAuthentications publickey
     IdentityFile ~/.ssh/id_rsa
  
Host gitlab.cern.ch
     HostName gitlab.cern.ch
     #IdentityFile ~/.ssh/id_rsa.gitlab
     User xin.shi

